h1 {
    text-align: center;
    text-shadow: 2px 2px 5px black;
}
h2 {
    text-align: center;
    text-shadow: 2px 2px 5px black;
}


body {
    background-image: url('./saloon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-family: 'Tauri', sans-serif;
}
.card1Container {
    display: inline;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
   
}
.cards {
    background: black;
    height: 400px;
    width: 300px;
    border: 10px solid black;
    text-align: center;

}
 .rg-button-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-self: center;
    justify-content: center;
    
} 
.button-red {
    height: 50px;
    width: 50px;
    padding: 20px;
    margin: 20px;
    background-color: red;
    display: inline-block;
}
.button-green {
    background-color: green;
    height: 50px;
    width: 50px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}
img {
    height: 200px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.score {
    text-shadow: 2px 2px 10px red;
    position: fixed;
    
        
}
.header-score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 200px;
}
.level-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  margin: 10px;
}
.youtube1 {
    display: none;
}
.youtube2 {
    display: none;
}
.audio-button{
    margin: 0 auto;
    display: flex;
    margin-bottom: 10px;
    }
.audio-button2{
    margin: 0 auto;
    display: flex;
    margin-bottom: 10px;
}

@media screen and (max-width: 375.98px) {
    .cards {
       border: 10px solid red;
       
    }
    .container {
        flex-direction: column;
    }
    h1 {
        text-align: center;
        text-shadow: 2px 2px 5px black;
        display: block;
        
    }
    p {
        text-align: center;
        text-shadow: 2px 2px 5px black;
        display: block;
    }
    
    
    body {
        background-image: url('./saloon.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        margin: 0;
        padding: 0;
        color: white;
        text-shadow: 2px 2px 5px black;
        display: block;
        font-family: 'Tauri', sans-serif;

    }
    .card1Container {
        display: block;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    
    .container {
        display: block;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: space-evenly;
        align-content: center;
       
    }
    .cards {
        background: black;
        height: 400px;
        width: 300px;
        border: 10px solid black;
        display: block;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin: 0 auto;
    
    }
    .button-container{
        height: 100px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        justify-items: center;
        align-content: center;
        
    }
    .button-red {
        height: 50px;
        width: 50px;
        padding: 20px;
        margin: 20px;
        background-color: red;
        display: inline-block;
    }
    .button-green {
        background-color: green;
        height: 50px;
        width: 50px;
        padding: 20px;
        margin: 20px;
        display: inline-block;
    }
    img {
        height: 200px;
        display:block;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }
    .score {
        display: flex;
        flex-direction: column;
        justify-content: center;   
        align-content: center;
        align-items: center;
    }
    .header-score {
      flex-direction: column;
      margin: 0 auto;
    }
    .level-header {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      align-content: center;
      padding: 20px;
      margin: 10px;
    }
    .audio-button{
        margin: 0 auto;
        flex-direction: column;
        margin-bottom: 10px;
        }
    .audio-button2{
        margin: 0 auto;
        flex-direction: column;
        margin-bottom: 10px;
    }
}

/* @media screen and (max-width: 768px) {
    h1 {
        text-align: center;
        text-shadow: 2px 2px 5px black;
        flex-direction: column;
    }
    p {
        text-align: center;
        text-shadow: 2px 2px 5px black;
        flex-direction: column;
    }    
    body {
        background-image: url('./saloon.jpg');
        height: auto;
        width: auto;
        margin: 0;
        padding: 0;
        font-family: 'Inconsolata', monospace;
        color: white;
        text-shadow: 2px 2px 5px black;
        flex-direction: column;
    }
    .container {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    
    }
    .cards {
        background: black;
        border: 10px solid black;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin: 0 auto;
    
    }
    .button-container{
        height: 100px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        justify-items: center;
        align-content: center;
        
    }
    .button-red {
        height: 50px;
        width: 50px;
        padding: 20px;
        margin: 20px;
        background-color: red;
        display: inline-block;
    }
    .button-green {
        background-color: green;
        height: 50px;
        width: 50px;
        padding: 20px;
        margin: 20px;
        display: inline-block;
    }
    img {
        height: 200px;
        display:block;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }
    .score {
        display: flex;
        flex-direction: column;
        justify-items: flex-end    
    }
    .header-score {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin: 0 auto;
    }
    .level-header {
      display: block;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      padding: 0;
      margin: 0;
    } */