h1 {
    text-align: center;
}
p {
    text-align: center;
}


body {
    background-color: grey;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.cards {
    background:white;
    height: 400px;
    width: 300px;
    border: 10px solid black;

}
.button-container{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
   

}
.button-red {
    height: 50px;
    width: 50px;
    padding: 20px;
    margin: 10px;
    background-color: red;
}
.button-green {
    background-color: green;
    height: 50px;
    width: 50px;
    padding: 20px;
    margin: 10px;
}
img {
    height: 200px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}