h1 {
  text-align: center;
  text-shadow: 2px 2px 5px black;
}
h2 {
  text-align: center;
  text-shadow: 2px 2px 5px black;
}

body {
  background-image: url("./barback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  /* text-shadow: 2px 2px 5px black; */
  font-family: "Tauri", sans-serif;
}
.question {
  font-weight: 600;
  padding: 20px;
  text-align: center;
}
.question2 {
  font-weight: 600;
  padding: 20px;
  text-align: center;
}
.question3 {
  font-weight: 600;
  padding: 20px;
  text-align: center;
}
.question4 {
  font-weight: 600;
  padding: 20px;
  text-align: center;
}
.question5 {
  font-weight: 600;
  padding: 20px;
  text-align: center;
}
.answers {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.answers2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.answers3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.answers4 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.answers5 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
label {
  margin: 10px;
}
#submit {
  font-family: sans-serif;
  font-size: 20px;
  background-color: #297;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  max-width: 200px;
}
#submit:hover {
  background-color: #3a8;
}
#submit2 {
  font-family: sans-serif;
  font-size: 20px;
  background-color: #297;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
#submit3 {
  font-family: sans-serif;
  font-size: 20px;
  background-color: #297;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
#submit4 {
  font-family: sans-serif;
  font-size: 20px;
  background-color: #297;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
#submit5 {
  font-family: sans-serif;
  font-size: 20px;
  background-color: #297;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.ingredients-title {
  display: flex;
  width: 700px;
  height: 100px;
  border: 5px solid black;
  color: black;
  background-color: white;
  border-radius: 18px;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}
.card1Container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.card2Container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.card3Container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.card4Container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.card5Container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  border-radius: 5px;
}
.cards {
  background: black;
  height: 300px;
  width: 200px;
  border: 5px solid black;
  text-align: center;
  border-radius: 15px;
}
.rg-button-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-self: center;
  justify-content: center;
  border: 2px solid blue;
  background-color: white;
  color: black;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 50%;
  height: 50%;
}
.quiz {
  padding: 10px;
  margin: 10px;
}
.quiz2 {
  padding: 10px;
  margin: 10px;
}
.quiz3 {
  padding: 10px;
  margin: 10px;
}
.quiz4 {
  padding: 10px;
  margin: 10px;
}
.results {
  padding: 10px;
}
.results2 {
  padding: 10px;
}
.results3 {
  padding: 10px;
}
.results4 {
  padding: 10px;
}
/* .button-red {
  height: 10px;
  width: 10px;
  padding: 20px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: red;
  display: inline-block;
}
.button-green {
  background-color: green;
  height: 10px;
  width: 10px;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  border: 2px solid white;
  border-radius: 5px; */

img {
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.score {
  text-shadow: 2px 2px 10px red;
}
.header-score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.level-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-around;
  padding: 20px;
  margin: 10px;
}

@media screen and (max-width: 375.98px) {
  .cards {
    border: 10px solid red;
  }
  .container {
    flex-direction: column;
  }
  h1 {
    text-align: center;
    text-shadow: 2px 2px 5px black;
    display: block;
  }
  p {
    text-align: center;
    text-shadow: 2px 2px 5px black;
    display: block;
  }

  body {
    background-image: url("./saloon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 2px 2px 5px black;
    display: block;
    font-family: "Tauri", sans-serif;
  }
  .card1Container {
    display: block;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .container {
    display: block;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
  }
  .cards {
    background: black;
    height: 400px;
    width: 300px;
    border: 10px solid black;
    display: block;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
  }
  .button-container {
    height: 100px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
  }
  .button-red {
    height: 50px;
    width: 50px;
    padding: 20px;
    margin: 20px;
    background-color: red;
    display: inline-block;
  }
  .button-green {
    background-color: green;
    height: 50px;
    width: 50px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
  }
  img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
  .score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
  }
  .header-score {
    flex-direction: column;
    margin: 0 auto;
  }
  .level-header {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 20px;
    margin: 10px;
  }
  .audio-button {
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .audio-button2 {
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

/* @media screen and (max-width: 768px) {
    h1 {
        text-align: center;
        text-shadow: 2px 2px 5px black;
        flex-direction: column;
    }
    p {
        text-align: center;
        text-shadow: 2px 2px 5px black;
        flex-direction: column;
    }    
    body {
        background-image: url('./saloon.jpg');
        height: auto;
        width: auto;
        margin: 0;
        padding: 0;
        font-family: 'Inconsolata', monospace;
        color: white;
        text-shadow: 2px 2px 5px black;
        flex-direction: column;
    }
    .container {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    
    }
    .cards {
        background: black;
        border: 10px solid black;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin: 0 auto;
    
    }
    .button-container{
        height: 100px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        justify-items: center;
        align-content: center;
        
    }
    .button-red {
        height: 50px;
        width: 50px;
        padding: 20px;
        margin: 20px;
        background-color: red;
        display: inline-block;
    }
    .button-green {
        background-color: green;
        height: 50px;
        width: 50px;
        padding: 20px;
        margin: 20px;
        display: inline-block;
    }
    img {
        height: 200px;
        display:block;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }
    .score {
        display: flex;
        flex-direction: column;
        justify-items: flex-end    
    }
    .header-score {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin: 0 auto;
    }
    .level-header {
      display: block;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      padding: 0;
      margin: 0;
    } */
